.container{
    scrollbar-width: none;   
}
.container::-webkit-scrollbar{
    display: none;
}

.mainAllProducts{
    scrollbar-width: none;   
}
.mainAllProducts::-webkit-scrollbar{
    display: none;
}

.main{
    scrollbar-width: none;   
}
.main::-webkit-scrollbar{
    display: none;
}

